name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Convert repo name to lowercase
        id: lowercase
        run: echo "repo_name_lc=${GITHUB_REPOSITORY##*/}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 19
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '19'
          cache: 'sbt'

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image with SBT
        env:
          DOCKER_REGISTRY: ${{ env.REGISTRY }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          curl -Ls https://git.io/sbt > sbt
          chmod +x sbt          
          export GITHUB_REPOSITORY=${repo_name_lc}
          ./sbt Docker/publishLocal

      - name: Push Docker image
        run: |
          docker push ${{ env.REGISTRY }}/${repo_name_lc}/gene-browser:latest